* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #494949;
  font-family: sans-serif;
  border-top: 10px solid #5588f6;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: #becdf9;
  padding: 20px 40px;
  margin-bottom: 60px;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #becdf9;
  border-top: 5px solid #2f60f3;
  border-bottom: 5px solid #2f60f3;
  padding: 50px 40px;
  width: 500px;
}

h1,
h2,
h3 {
  color: #5588f6;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  color: #7f54d0;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
  margin-left: 0;
}

:link {
  color: #ff0090;
  text-decoration: none;
}
a:visited {
  color: #ff0090;
}
a:hover {
  font-weight: bold;
  text-decoration: underline #800080;
}
a:active {
  color: #800080;
}

.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  position: absolute;
  right: 50px;
  bottom: 50px;
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  background-color: #ffbce2;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h3 + p::first-line {
}

h2 {
  position: relative;
}

h2::after {
  content: "TOP";
  display: inline-block;
  background-color: #312d3d;
  color: rgb(255, 31, 125);
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

.author-img {
  float: left;
  margin-bottom: 20px;
}

.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

h1 {
  float: left;
}

nav {
  float: right;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

article {
  float: left;
  width: 825px;
}

aside {
  float: right;
  width: 300px;
}
footer {
  clear: both;
}
